@charset "ISO-8859-1";

.body{
	background-color: #48CCCD;
	margin-left : 100px;
	margin-right : 100px;
}

.rounded {
	 
}

h2{
	color : #000000;
	font-family : Raleway;
	text-transform : uppercase;
}

h4 {
	color : #000000;
	font-family : poppins;
	margin-top : -5px;
	
} 